@font-face {
    font-family: "font";
    src: url('../../Resources/Fonts/Coolvetica\ Rg.otf');
}

@font-face {
    font-family: "pfont";
    src: url('../../Resources/Fonts/Poppins-Regular.ttf');
}

:root {
    --ocolor: rgb(0, 255, 255);
    --pcolor: rgba(255, 255, 255, 0.836);
}
::-webkit-scrollbar {
  width: 10px; /* ancho de la barra */
}

::-webkit-scrollbar-track {
  background-color: #11111100; /* color de fondo */
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(180deg, #00ffff44, #0077ff65);  color o degradado */
  border-radius: 2px;
  background-color: #ffffff31;
}

body {
    font-family: "font";
    background-color: #000000;
    margin: 0;
    color: white;
    
}

.title-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    letter-spacing: 0.10em;
}

.img-fond {
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    z-index: 0;
    filter: grayscale(0.5) blur(5px) saturate(2);
    object-fit: cover; /* hace que cubra sin deformarse */
    object-position: center; /* centra la parte visible */
    display: block;
    
}

.blakc-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg,rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.27) 100%);
}

.container-img-fond {
    
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title-section h1, p{
    z-index: 2;
}

.title-section h1 {
    text-shadow: 0px 3px 3px black;
}

/* Contenedor de iconos */
.social-media-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media-container img {
    width: 15px;
    border: 1px white solid;
    border-radius: 100%;
    padding: 10px;
    overflow: visible;
    transition: all 0.4s ease;;
}

.social-media-container img:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px black;
    border-color: aqua;
}


/*Info Section*/

.info-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.10em;
    position: relative;
    overflow: visible;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 400px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.863);
    z-index: 1;
    padding: 0px 50px;
}

.dato{
    margin: 7px 0px;
}

.info-p {
    font-family: "pfont";
    letter-spacing: 0.1em;
    line-height: 20px;
    margin: 20px 0px;
    color: var(--pcolor);
}


.info-container h3 {
    color: rgb(0, 255, 255);
    
    font-size: 2rem;
    margin: 10px 0px;
}

.img-container img {
    border-radius: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    filter: grayscale(0) saturate(1);
    opacity: 0.9;
    
}

.img-container {
    position: relative;
    width: 400px;
    height: 540px;
}

.black-out {
    top: 0px;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.705) 100%);
}


.section-title {
    position: absolute;
    top: 0px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: normal;
    text-shadow: 0px 6px 6px rgb(0, 0, 0);
    z-index: 1;
}

.section-title-cover {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 2px #ffffff2f;
    position: absolute;
    font-size: 4rem;
    top: -8px;
    font-weight: normal;
    z-index: 0;
}


.info-img-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.hdv-button {
    text-decoration: none;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 15px 50px;
    border-radius: 30px;
    margin-top: 30px;
    transition: all 0.4s ease;
    font-weight: bold;
}


/* Skills section*/


.skills-section {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.img-skills-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.fondo-skills {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100vh;
    z-index: 0;
    filter: blur(10px) grayscale(0.5);
    object-fit: cover; /* hace que cubra sin deformarse */
    object-position: center; /* centra la parte visible */
    display: block;
}

.black-cover1 {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.363) 50%, rgba(0, 0, 0, 1) 100%);
}

.skills-info-container {
    letter-spacing: 0.10em;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skills-info-title {
    top: 0px;
    color: rgb(255, 255, 255);
    top: 0px;
    font-size: 3rem;
    z-index: 0;
    filter: blur(0.1px);
    font-weight: normal;
    margin-bottom: 0px;
    position: absolute;
    text-shadow: 0px 6px 2px  rgb(0, 0, 0);
}

.skills-info-title-back {
    top: -20px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.336);
    font-size: 4.5rem;
    z-index: 0;
    filter: blur(0.1px);
    font-weight: normal;
    margin-bottom: 0px;
    position: absolute;
    filter: blur(1px);
}

.skill-slogan {
    margin: 0;
    font-weight: normal;
    font-family: none;
    color: rgb(157, 255, 247);
    
    margin-bottom: 100px;
    font-size: 1.5rem;
    font-style: italic;
}



.skills-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%
}

.skill {
    margin: 10px 10px;
    width: 105px;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem;
    text-shadow: 3px 4px 4px black;
    transition: transform 0.3s ease;
}

.skill h2 {
    font-weight: normal;
    
}

.skill:hover {
    transform: scale(105%);
}



.img-skill {
    padding: 20px;
    width: 61px;
    height: auto;
    z-index: 2;
    position: absolute;
    overflow: hidden;
    z-index: 0;
}

.img-container-skill {
    border: 1px white solid;
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 110px;
    border-radius: 30px;
}

.cover {
    position: absolute;
    bottom: 0;
    z-index: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 0%;
    background-color: #000000;
    opacity: 1;
    transition: all 0.5s ease;
}

.skill:hover .img-skill {
    background-color: white;
}

.skill:hover .cover {
    height: var(--i);
    z-index: 2;
}

.skill:hover .percent-skill {
    opacity: 1;
    z-index: 2;
}



.percent-skill {
    color: rgb(0, 255, 234);
    position: absolute;
    top: 20px;
    left: 30px;
    opacity: 0;
}


/*Projects Section*/

.projects-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container {
    margin-top: 170px;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.projects-section-title {
    position: absolute;
    top: 0px;
    margin-top: 50px;
    font-family: "font";
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 3rem;
}

.projects-project-container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.projects-section-title-cover {
    position: absolute;
    top: 15px;
    margin-top: 40px;
    font-family: "font";
    color: transparent;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.212);
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 4rem;
}


.project {
    background-color: rgb(0, 0, 0);
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 50px;
    transition: all 0.3s ease;
    
}

.project img {
    width: 55%;
    max-height: 100%;
    min-height: 100%;
    height: auto;
    background-color: aqua;
    object-fit: cover; /* hace que cubra sin deformarse */ /* centra la parte visible */
    display: block;
    
}

.info-project {
    background-color: rgb(0, 0, 0);
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    position: relative;
}


.title-project {
    letter-spacing: 0.11em;
}

.p-project {
    font-family: "pfont";
    color: var(--pcolor);
}

.info-project a {
    text-decoration: none;
    padding: 15px 40px;
    width: 100px;
    background-color: #252525;
    color: white;
    border-radius: 40px;
    position: absolute;
    bottom: 10px;
}


#button-car {
    position: absolute;
    border: 2px white solid;
    padding: 1px 15px;
    border-radius: 100px;
    font-size: 2rem;
    text-align: center;
    cursor:default;
    transition: all 0.3s ease;
}
.next-button {
    right: 30px;
    top: 50%;
}
.back-button {
    left: 30px;
    top: 50%;
}


/* Footer */

.footer-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    height: 180px;

}

.footer-info-container a {
    color: rgb(0, 126, 126);
}

@media (max-width: 480px) {


    main {
        max-width: 99vw;
        overflow: hidden;
    }

    .info-section {
        width: 100%;
        height: auto;
        max-height: none;
        justify-content: center;
        align-items: center;
        overflow: visible;
    }

    .title-section h1 {
        width: 200px;
        text-align: center;
    }   

    .title-section p {
        display: none;
    }



    .info-img-container {
        overflow: visible;
        height: auto;
        max-height: none;
        align-items: center;
        justify-content: center;
        margin-top: 200px;
        width: 100%;
        height: 100%;
    }

    .img-container {
        display: none;
    }

    .section-title {
        top: 0;
        font-size: 2rem;
    }

    .section-title-cover {
        top: 5px;
        font-size: 2.5rem;
    }

    .info-container {
        width: 100%;
        height: 100%;
        padding: 0px;
        max-width: none;
        background-color: transparent;
        justify-content: center;
        align-items: center;
    }

    .info-p {
        width: 250px;
        font-size: 0.8rem;
    }

    .hdv-button {
        margin-bottom: 100px;
        font-size: 0.8rem;
        padding: 13px 30px;
    }

    .info-container h2, h3 {
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
    }

    .skills-section {
        margin-top: 100px;
        height: auto;
    }

    .skills-info-title {
        font-size: 2rem;

    }

    .skills-info-title-back {
        top: 0px;
        font-size: 2.5rem;
    }

    .skills-container {
        margin-top: 150px;
        flex-wrap: wrap;
        width: 80%;
    }

    .fondo-skills {
        filter: blur(3px);
        height: 90%;
    }

    .img-container-skill {
        width: 90px;
        height: 90px;
    }

    .img-skill {
        width:  50px;
        height: auto;
        object-fit: cover;
    }

    .projects-section {
        margin: 0px auto;
        width: 90vw;
        height: auto;
    }


    .project {
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 300px;
        padding: 30px;
    }

    .projects-section-title {
        font-size: 2rem;
    }

    .projects-section-title-cover {
        font-size: 2.5rem;
    }

    .projects-container {
        height: auto;
        justify-content: flex-start;
        flex-direction: row;
        width: 360px;
        margin-top: 100px;
    }

    #button-car {
        top: 75%;
        padding: 5px 20px;
        font-size: 1.5rem;
    }

    .next-button {
        right: 30px;
    }

    .back-button {
        left: 30px;
    }


    .project img {
        width: 100%;
        height: 200px;
        object-fit: cover; /* hace que cubra sin deformarse */
        object-position: center; /* centra la parte visible */
        display: block;
        min-height: auto;
    }

    .info-project {
        width: 100%;
        height: 600px;
    }

    .projects-project-container {
        height: 100%;
        justify-content: flex-start;
    }


    .title-project {
        font-size: 1.5rem;
    }

    .p-project {
        font-size: 0.8rem;
    }

    .info-project a {
        margin-top: 0px;
        align-self: center;
    }


    .footer-info-container {
        flex-direction: column;
        height: auto;
        width: 100%;
        gap: 20px;
    }

    .footer-info-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .designer {
        width: 300px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    
    
    main {
        max-width: 99vw;
        overflow: hidden;
    }

    .title-section p {
        width: 400px;
    }

    .info-section {
        height: 800px;
        justify-content: center;
        align-items: center;
    }



    .info-img-container {
        flex-direction: column;
        width: 100%;
    }

    .img-container {
        display: none;
    }

    .info-container {
        width: 70%;
    }

    .projects-section {
        margin: 0px auto;
        width: 90vw;
        height: auto;
    }


    .project {
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 420px;
        padding: 30px;
    }

    .projects-section-title {
        font-size: 3rem;
    }

    .projects-section-title-cover {
        font-size: 4.5rem;
    }

    .projects-container {
        height: auto;
        justify-content: flex-start;
        flex-direction: row;
        width: 480px;
        margin-top: 200px;
    }

    #button-car {
        top: 89%;
        padding: 5px 20px;
        font-size: 1.5rem;
    }

    .next-button {
        right: 30px;
    }

    .back-button {
        left: 30px;
    }


    .project img {
        width: 100%;
        height: 200px;
        object-fit: cover; /* hace que cubra sin deformarse */
        object-position: center; /* centra la parte visible */
        display: block;
        min-height: auto;
    }

    .info-project {
        width: 100%;
        height: 600px;
    }

    .projects-project-container {
        height: 100%;
        justify-content: flex-start;
    }


    .title-project {
        font-size: 1.5rem;
    }

    .p-project {
        font-size: 1rem;
    }

    .info-project a {
        margin-top: 0px;
        align-self: center;
    }

    .footer-info-container{
        gap: 100px;
    }

}

@media (min-width: 769px) and (max-width: 1024px){
    
    main {
        width: 99vw;
        overflow: hidden;
    }

    .info-section {
        height: auto;
        padding: 50px 0px;
    }

    .title-section p {
        width: 500px;

    }

    .info-img-container {
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-p {
        width: 400px;
    }

    .img-container {
        width: 200px;
        height: 300px;
    }

    .projects-section {
        height: auto;
        padding: 50px 0px;
    }

    .project {
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 660px;
        padding: 30px;
    }

    .projects-section-title {
        font-size: 3rem;
    }

    .projects-section-title-cover {
        font-size: 4.5rem;
    }

    .projects-container {
        height: auto;
        justify-content: flex-start;
        flex-direction: row;
        width: 720px;
        margin-top: 200px;
    }

    #button-car {
        top: 89%;
        padding: 5px 20px;
        font-size: 1.5rem;
    }

    .next-button {
        right: 30px;
    }

    .back-button {
        left: 30px;
    }


    .project img {
        width: 100%;
        height: auto;
        object-fit: cover; /* hace que cubra sin deformarse */
        object-position: center; /* centra la parte visible */
        display: block;
        min-height: auto;
    }

    .info-project {
        width: 100%;
        height: 600px;
    }

    .projects-project-container {
        height: 100%;
        justify-content: flex-start;
    }


    .title-project {
        font-size: 1.5rem;
    }

    .p-project {
        font-size: 1rem;
    }

    .info-project a {
        align-self: center;
        bottom: -20px;
    }

    .footer-info-container{
        gap: 100px;
    }

}