@font-face {
    font-family: "font";
    src: url('../../Resources/Fonts/Coolvetica\ Rg.otf');
}


:root {
    --ocolor: rgb(0, 255, 255);
}
::-webkit-scrollbar {
  width: 10px; /* ancho de la barra */
}

::-webkit-scrollbar-track {
  background-color: #11111100; /* color de fondo */
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(180deg, #00ffff44, #0077ff65);  color o degradado */
  border-radius: 2px;
  background-color: #ffffff31;
}

body {
    font-family: "font";
    background-color: #000000;
    margin: 0;
    color: white;
    
}

.title-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    letter-spacing: 0.10em;
}

.img-fond {
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    z-index: 0;
    filter: grayscale(0.5) blur(5px) saturate(2);
    object-fit: cover; /* hace que cubra sin deformarse */
    object-position: center; /* centra la parte visible */
    display: block;
    
}

.blakc-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg,rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.27) 100%);
}

.container-img-fond {
    
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title-section h1, p{
    z-index: 2;
}

.title-section h1 {
    text-shadow: 0px 3px 3px black;
}

/* Contenedor de iconos */
.social-media-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media-container img {
    width: 15px;
    border: 1px white solid;
    border-radius: 100%;
    padding: 10px;
    overflow: visible;
}

.social-media-container img:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px black;
}


/*Info Section*/

.info-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.10em;
    position: relative;
    overflow: visible;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 400px;
    height: 540px;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 1;
    padding: 0px 50px;
}


.info-container h3 {
    color: rgb(85, 255, 255);
    text-shadow: 0px 6px 25px  aqua;
    font-size: 2rem;
    margin: 10px 0px;
}

.img-container img {
    border-radius: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    filter: grayscale(0.5) saturate(2);
    opacity: 0.8;
    
}

.img-container {
    position: relative;
    width: 400px;
    height: 540px;
}

.black-out {
    top: 0px;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.705) 100%);
}


.section-title {
    color: rgba(255, 255, 255, 0.308);
    position: absolute;
    font-size: 14rem;
    z-index: 0;
}


.hdv-button {
    text-decoration: none;
    color: white;
    border: 1px white solid;
    padding: 15px 50px;
    border-radius: 30px;
    margin-top: 40px;
}

/* Skills section*/


.skills-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.img-skills-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.fondo-skills {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100vh;
    z-index: 0;
    filter: blur(4px) grayscale(0.5);
}

.black-cover1 {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.363) 50%, rgba(0, 0, 0, 1) 100%);
}

.skills-info-container {
    letter-spacing: 0.10em;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.skills-info-title {
    color: rgba(255, 255, 255, 0.486);
    text-shadow: 0px 6px 25px  rgba(255, 255, 255, 0.377);
    top: 0px;
    font-size: 4rem;
    z-index: 0;
    filter: blur(0.1px);
    margin-bottom: 0px;
    
}

.skill-slogan {
    margin: 0;
    font-weight: normal;
    color: rgb(157, 255, 247);
    text-shadow: 0px 6px 25px rgb(138, 255, 255);
    margin-bottom: 100px;
    font-size: 1.5rem;
}



.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 550px;
}

.skill {
    margin: 10px 10px;
    width: 105px;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem;
    text-shadow: 3px 4px 4px black;
    transition: transform 0.3s ease;
    
}

.skill h2 {
    font-weight: normal;
    
}

.skill:hover {
    transform: scale(105%);
    color: var(--ocolor);
}



.skill img {
    border: 1px white solid;
    border-radius: 30px;
    padding: 20px;
    width: 61px;
    height: auto;
    z-index: 2;
    position: absolute;
}

.img-container-skill {
    position: relative;
    width: 105px;
    height: 105px;
}

.cover {
    position: absolute;
    top: 0;
    z-index: 0;
    border-radius: 30px;
    filter: blur(3px);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
}