@font-face {
    font-family: "font";
    src: url('../../Resources/Fonts/Coolvetica\ Rg.otf');
}


:root {
    --ocolor: rgb(0, 255, 255);
}

body {
    font-family: "font";
    background-color: #000000;
    margin: 0;
    color: white;
}

.title-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    letter-spacing: 0.10em;
}

.img-fond {
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 0;
    filter: grayscale(0.5) blur(5px) saturate(2);
    
}

.blakc-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg,rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.27) 100%);
}

.container-img-fond {
    
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title-section h1, p{
    z-index: 2;
}

.title-section h1 {
    text-shadow: 0px 3px 3px black;
}

/* Contenedor de iconos */
.social-media-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media-container img {
    width: 15px;
    border: 1px white solid;
    border-radius: 100%;
    padding: 10px;
    overflow: visible;
}

.social-media-container img:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px black;
}


/*Info Section*/

.info-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.10em;
    position: relative;
    overflow: visible;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 400px;
    height: 540px;
    background-color: black;
    z-index: 1;
    padding: 0px 50px;
    opacity: 0.8;
}


.info-container h3 {
    color: rgb(85, 255, 255);
    text-shadow: 0px 6px 25px  aqua;
    font-size: 2rem;
    margin: 10px 0px;
}

.img-container img {
    border-radius: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    filter: grayscale(0.5) saturate(2);
    opacity: 0.8;
}

.img-container {
    position: relative;
    width: 400px;
    height: 540px;
}

.black-out {
    top: 0px;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}


.section-title {
    color: rgba(255, 255, 255, 0.308);
    position: absolute;
    font-size: 14rem;
    z-index: 0;
}


.hdv-button {
    text-decoration: none;
    color: white;
    border: 1px white solid;
    padding: 15px 50px;
    border-radius: 30px;
    margin-top: 40px;
}